body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: green;
    border: 5px solid black;
}

h2 {
    color: blue;
    border 1px solid black;
}

div {
    padding: 20px;
}

.center-text {
    text-align: center;
}

.left-align {
    text-align: left;
}